config.json
donations.db
.vscode/settings.json
.vscode/launch.json
Server/Backend/node_modules
Client/node_modules
Server/Backend/streamers.json
donations.db-shm
donations.db-wal
Server/Backend/abfucker.js
Client/dist